.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(152, 255, 162);
}

td {
  background-color: rgb(209, 255, 222);
}

button{
  background-color: #4caf74;
  border: none;
  border-radius: 12 px;
  color: white;
  padding: 15 px 32 px;
  font-size: 16px;

}

button:hover{
  background-color: #8bf45e;
  color:white;
}

th{
  color:rgba(0, 1, 0, 0.769);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#Offcanvas{
  color: white;
  font-weight: bold;
  background-color: rgb(29, 96, 212);
}

#Cards{
  color: white;
  font-weight: bold;
  background-color: rgb(16, 64, 220);
  font-variant: small-caps;
}

#InsideCards{
  color: rgb(231, 250, 255);
}

#Logout{
  text-align: left;
}


#login{
  text-align: left;
}

#Navbar{
  color: white;
  font-weight: bold;
  background-color: rgb(31, 87, 198);
  font-family: Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 1px;
}

#Modal{
  color: rgb(98, 98, 98);
  font-weight: bold;
  background-color: rgb(9, 33, 186);
}

#home{
  color: white;
  font-weight: bold;
}